<html>
<head>
    {% block title %}<title>Torch!</title> {% endblock %}
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <!-- Bootstrap end -->

    <style type="text/css">
    .main_container{
        margin:0px 500px 50px 500px;
    }
                #one { position:absolute; top: 30px; right:80px; }
        #two { position: absolute; top: 300px; left: 500px; }
    </style>
        <meta charset="UTF-8">


</head>

<body style="padding-top: 100px;">
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" style="background-color:black;">
        <div class="container" style="margin-left:30px; margin-right:30px;">
            <div class="navbar-header" style="padding-right:30px;">

                <a href="/dashboard/" class="navbar-brand" style="color:white;">Torch</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active" style="color:white;"><a href="/dashboard/">Dashboard <span class="sr-only">(current)</span></a></li>
                    <li><a href="#" style="color:white;">Settings</a></li>
                    <li style="width:720px;">empty</li>
                    <li><a href="#" style="color:white;">
                        Sign in
                    </a></li>
                    <li><a href="/sign_up/" style="color:white;">
                        Sign up
                    </a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </ul>
    </div>
</nav>


{% block content %}
<!-- Here is index.html -->
{% endblock %}
</body>


</html>
