<html>
<head>
    {% block title %}<title>Torch!</title> {% endblock %}
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/css/nav_start.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <!-- Bootstrap end -->

    <style type="text/css">
    .main_container{
        margin:0px 500px 50px 500px;
    }
        #one { position:absolute; top: 30px; right:80px; }
        #two { position: absolute; top: 300px; left: 500px; }
    </style>
        <meta charset="UTF-8">
</head>

<body style="padding-top: 100px">
<div id="nav_start" class="navbar navbar-default navbar-fixed-top" role="navigation" style=height:80px>
    <div class="container">
        <div class="navbar-header" style="padding-top:15px"><a class="navbar-brand" href="/start/" style="font-size:45px">TORCH</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
        </div>
            <ul class ="nav navbar-nav navbar-left" style="padding-top:18px;padding-right:30px">
            </ul>
            <ul class ="nav navbar-nav navbar-left" style="padding-top:18px;padding-right:5px">
                <a href="/sign_up" class="btn btn-link btn-lg" {% if request.path == '/sign_up/' %} style = "color:crimson; text-decoration: none;" {% else %} style = "color:black; text-decoration: none;" {% endif %}>Projects</a>
            </ul>
            <ul class ="nav navbar-nav navbar-left" style="padding-top:18px;padding-right:5px">
                <a href="/report_card" class="btn btn-link btn-lg"  {% if request.path == '/report_card/' %} style = "color:crimson; text-decoration: none;" {% else %} style = "color:black; text-decoration: none;" {% endif %}>Report card</a>
            </ul>
            <ul class ="nav navbar-nav navbar-right" style="padding-top:18px;padding-right:5px">
                <a href="/start" class="btn btn-link btn-lg" style = "color:black; text-decoration: none;">Logout</a>
            </ul>
            <ul class ="nav navbar-nav navbar-right" style="padding-top:18px;padding-right:5px">
                <a href="/settings" class="btn btn-link btn-lg" {% if request.path == '/settings/' %} style = "color:crimson; text-decoration: none;" {% else %} style = "color:black; text-decoration: none;" {% endif %}>Account Settings</a>
            </ul>
            <ul class ="nav navbar-nav navbar-right" style="padding-top:18px;padding-right:5px">
                <a href="/Projects/main" class="btn btn-link btn-lg" disabled="disabled">Login ID</a>
            </ul>
    </div>
</div>

{% block content %}
<!-- Here is index.html -->
{% endblock %}
</body>


</html>
