<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <style type="text/css">
        #one {
            position:absolute;
            top:30px;
            right:80px;
            }
        #two
        {
            position:absolute;
            top:300px;
            left:500px;
            }
    </style>
</head>

<body>
<form>
  <div class="form-group" id="one">
    <input class="btn btn-default" type="button" value="Sign In">
      <input class="btn btn-default" type="button" value="Sign Up">
  </div>

  <div class="form-group" id="two">
    <input class="form-control" type="text" placeholder="input">
      <input for="input-file" type="button" value="ad"><input type="file" id="input-file" style="hidden">
      <br>
  <input class="form-control" type="text" placeholder="input">
    <input class="btn btn-default" type="button" value="Load From Git">
  </div>
</form>
</body>
</html>