{% extends 'base.html' %}
{% block title %}
    <title>index</title>
{% endblock %}
{% block content %}


{#  <div class="form-group" id="two">#} {#    <input class="form-control input-lg" type="text" placeholder=".input-lg">#} {#      <input type="file" id="exampleInputFile">#} {#      <br>#} {#  <input class="form-control input-lg" type="text" placeholder="input">#} {#    <input class="btn btn-default" type="button" value="Load From Git">#} {#  </div>#} </form>
<!-- List of uploaded documents -->
{% if files %}
    <ul>
        {% for file in files %}
            <li>{% comment %}{{ forloop.counter }}.{% endcomment %} <a href="{{ file.Lddfile.url }}">{{ file.Lddfile }}</a></li>
            <li> {{ file.Lddfile.read }} </li>
            <li> {{ file.Lddfile.get_extension }} </li>
            <br>


        {% endfor %}
    </ul>
{% else %}
    <p>No documents.</p>
{% endif %}

<!-- Upload form. Note enctype attribute!-->
<form action="{% url "Torch:gitloader" %}" method="post" enctype="multipart/form-data">
    <div class="form-group" id="two">
        {% csrf_token %}
        <p>
        {{ form.non_field_errors }}

        {{ form.Lddfile.label_tag }} {{ form.Lddfile.help_text }}

        {{ form.Lddfile.errors }}
        {{ form.Lddfile }}
        </p>

        <P>
            <input class="form-control input-lg" type="text" placeholder="input">
            <input class="btn btn-default" type="button" value="Load From Git">
        </P>

        <p><input type="submit" value="Upload"/></p>
    </div>
</form>




    <div>

    <form action="/index/" method="get" enctype="multipart/form-data">

        <input type='hidden' name='csrfmiddlewaretoken' value='xfyofexzNawRuLUzUDJ66DIT76oh5yKA' />

        <p></p>

        <p><label for="id_gitFile">git url:</label> </p>

        <p>

            <input id="id_gitFile" name="gitFile" type="url" />
        </p>

        <p><input type="submit" value="Git Upload"/></p>
    </form>

</div>
    {% load staticfiles %}
    <div>
        <img src = "{% static "torch.png" %}" alt ="main torch image">
    </div>

{%  endblock %}
