{% extends 'base.html' %}
{% block content %}

      <article class="container">
        <div class="page-header">
          <h1>회원가입 <small>basic form</small></h1>
        </div>
        <div class="col-md-6 col-md-offset-3">
          <form role="form" action="." method="POST">
              {% csrf_token %}
            <div class="form-group">
                {{ form.email.errors }}
              <label for="InputEmail">이메일 주소</label>
                {{ form.email }}
            </div>
            <div class="form-group">
              <label for="InputPassword1">비밀번호</label>
              {{ form.password1 }}
            </div>
            <div class="form-group">
              <label for="InputPassword2">비밀번호 확인</label>
                {{ form.password2 }}
                {{ form.password.errors }}
              <p class="help-block">비밀번호 확인을 위해 다시한번 입력 해 주세요</p>
            </div>
            <div class="form-group">
              <label for="username">이름</label>
              {{ form.username }}
            </div>
{#              <div class="form-group">#}
{#              <label for="username">계정 유형</label>#}
{#                  <select class = "form-control">#}
{#                      <option>User</option>#}
{#                      <option>Supervisor</option>#}
{#                  </select>#}
{#              </div>#}
            <p></p>
            <div class="form-group">
                <label>약관 동의</label>
              <div data-toggle="buttons">
              <label>
                  <span class="fa fa-check"></span>
                  <input id="agree" type="checkbox" autocomplete="off" checked>
              </label>
              <a href="#">이용약관</a>에 동의합니다.
              </div>
            </div>
            <div class="form-group text-center">
              <button type="submit" class="btn btn-info">회원가입<i class="fa fa-check spaceLeft"></i></button>
              <button type="submit" class="btn btn-warning">가입취소<i class="fa fa-times spaceLeft"></i></button>
            </div>
          </form>
        </div>
    </article>


{% endblock %}
