{% extends 'base.html' %}

{% block content %}

<div class="container" style="width:60%;">
    <a href="/main"><button><span class="glyphicon glyphicon-plus-sign"><span></button></a>
</div>

<div class="container" style="border: solid 2px; border-radius:5px; width:60%;">

    <div class="col-md-4">
        Project title
    </div>
    <div class="col-md-4">
        Type
    </div>
    <div class="col-md-2">
        Owner
    </div>
    <div class="col-md-2">
        Create date
    </div>
    <hr style="margin-bottom:10px; ">

    {% for project in project_list %}

    <div class="col-md-4">
        <a href = "{% url 'projects:project_detail' project.id %}">{{ project.title }}</a>
    </div>
    <div class="col-md-4">
        {{ project.language }}
    </div>
    <div class="col-md-2">
        {{ project.user.name }}
    </div>
    <div class="col-md-2">
        {{ project.pub_date }}
    </div>

    {% endfor %}

</div>

{% endblock%}
